@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: "Annapurna SIL", serif;
    font-weight: 400;
}

.logo {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #D69A3A;
    letter-spacing: 5px;
}

.section-title {
    color: #D69A3A;
    @apply text-xl md:text-4xl text-center font-bold capitalize mt-8 md:mt-12 xl:mt-16
}

.active {
    color: #D69A3A;
    @apply font-semibold tracking-wider
}

.default {
    @apply text-white font-semibold tracking-wider
}

.custom-btn {
    background-color: #D69A3A;
    @apply px-4 py-1 rounded-full text-white capitalize my-2 tracking-wider transition-all duration-200 cursor-pointer
}

.custom-btn:hover {
    background-color: #ff9d00;
}


.title {
    color: #D69A3A;
}

.form-part {
    @apply flex flex-col gap-1
}

.form-part .form-input {
    border: 1px solid #D69A3A;
    @apply outline-none px-3 py-1 rounded-sm text-black
}