@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Protest+Riot&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Annapurna SIL", serif;
    font-weight: 400;
}

.section-title {
    color: #D69A3A;
    @apply text-xl md:text-4xl text-center font-bold capitalize mt-8 md:mt-12 xl:mt-16
}

.active {
    color: #D69A3A;
    @apply font-semibold tracking-wider
}

.default {
    @apply text-white font-semibold tracking-wider
}

.custom-btn {
    background-color: #D69A3A;
    @apply px-4 py-1 rounded-full text-white capitalize my-2 tracking-wider transition-all duration-200
}

.custom-btn:hover {
    background-color: #ff9d00;
}


.title {
    color: #D69A3A;
}