@tailwind base;
@tailwind components;
@tailwind utilities;

.section-title {
    color: #D69A3A;
    @apply text-xl md:text-4xl text-center font-bold capitalize py-8 md:py-16 
}
.active{
    color: #D69A3A;
    @apply font-semibold tracking-wider
}
.default{
    @apply text-white font-semibold tracking-wider
}
.custom-btn {
    @apply bg-cyan-600 px-4 py-2 rounded-md text-white font-semibold capitalize text-lg my-2 hover:bg-cyan-700
}

.title {
    color: #D69A3A;
}